<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mregister.css" />
    <title>Company-Register</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/manager/mlogin" method="POST" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
              <input type="text" placeholder="Company ID" name="clid" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="clpassword" />
            </div>
            <input type="submit" value="Login" class="btn solid" />
            <a href="/register" style="color: black; text-decoration: none; padding-top: 10px;">Students click here</a>
            <a class="social-text" href="/manager/forget">Forgot Password?</a>
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          <form action="/manager/signup" method="POST" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
              <input type="text" placeholder="Company ID"  name="cid" />
            </div>
            <div class="input-field">
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
              <input type="text" placeholder="Company Name"  name="cname" />
            </div>
            <div class="input-field">
                <i class="fas fa-user"></i>
              <input type="text" placeholder="Manager Name" name="mname" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="password" />
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder=" Confirm Password" />
              </div>
            <input type="submit" class="btn" value="Sign up" />
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
                Click sign up to start your journey with us!!!
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel"style="margin-right: 136px;">
          <div class="content">
            <h3>One of us ?</h3>
            <p style="margin-bottom: 1px;margin-top: 2px;">
                Click on signin to continue
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="img/register.svg" class="image" alt="" />
        </div>
        <script
        src="https://kit.fontawesome.com/64d58efce2.js"
        crossorigin="anonymous"
        ></script>
      </div>
    </div>

    <script src="/js/mregister.js"></script>
  </body>
</html>