<!DOCTYPE html>
<html lang="en">
    <head>
      <title>How to store image path in MySQL database using Node js - Tutsmake.com</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <h1>How to store image path in MySQL database using Node js - Tutsmake.com</h1>
      <form action="/img/img" method="post">
        <label for="img">Select image:</label>
        <!-- <input type="file" id="img" name="upload" accept="image/*"> -->
        <!-- <input type="file" name="upload"> -->
        <input type="text" name="txt" id="">
        <input type="submit" name="resume">
      </form>
    </body>
    </html>
